@model EntityLayer.Concrete.Team
@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Personel Kayıt</h4>
           @* <p class="card-description">
                Basic form layout
            </p>*@
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputUsername1">Personel Ad</label>
                    <span asp-validation-for="PersonName" class="text-danger"></span>
                    <input type="text" class="form-control" name="PersonName" placeholder="Personel Adı">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Personel Alanı</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <input type="text" class="form-control" name="Title" placeholder="Başlık">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Resim Url</label>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    <input type="text" class="form-control" name="ImageUrl" placeholder="Resim Url">
                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Resim Url</label>
                    <input type="text" class="form-control" name="FaceUrl" placeholder="Facebook Url">
                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Instagram Url</label>
                    <input type="text" class="form-control" name="InstaUrl" placeholder="Instagram Url">
                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Web Url</label>
                    <input type="text" class="form-control" name="WebUrl" placeholder="Web Url">
                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Twitter Url</label>
                    <input type="text" class="form-control" nameW="TwitterUrl" placeholder="Twitter Url">
                </div>
                <button type="submit" class="btn btn-primary me-2">Ekle</button>
            </form>
        </div>
    </div>
</div>